<div class="viewpoint-button">
    <h3>Viewpoint:</h3>
    <button *ngIf="viewpoint$ | async as viewpoint; else ElseBlock" mat-stroked-button class="second-line-button" [matMenuTriggerFor]="menu">
      {{ viewpoint.title }} <mat-icon>view_carousel</mat-icon>
    </button>
    <ng-template #ElseBlock>
      <button mat-button class="second-line-button" [matMenuTriggerFor]="menu">Select a Viewpoint <mat-icon>view_carousel</mat-icon></button>
    </ng-template>
  </div>

  <mat-menu #menu="matMenu">
    <button (click)="chooseViewpoint(viewpoint)" mat-menu-item *ngFor="let viewpoint of viewpoints; first as isFirst">
      <span>{{ viewpoint.title }}</span>
    </button>
    <mat-divider *ngIf="viewpoints.length! > 0"></mat-divider>
    <button mat-menu-item (click)="createViewpoint(project?.projectId!, viewpoints)">
      <mat-icon>add</mat-icon>
      <span>Create new Viewpoint</span>
    </button>
  </mat-menu>
