<div class="main-wrapper" *ngIf="this.view$ | async as view; else elseBlock">

  <div class="card-wrapper">
    <div class="viewpoint-button">
      <h3>Viewpoint:</h3>
      <button *ngIf="viewpoint$ | async  as viewpoint; else ElseBlock" mat-stroked-button class="second-line-button"
        [matMenuTriggerFor]="menu">
        {{ viewpoint.title }} <mat-icon>view_carousel</mat-icon>
      </button>
      <ng-template #ElseBlock>
        <button mat-button class="second-line-button" [matMenuTriggerFor]="menu">Select a Viewpoint
          <mat-icon>view_carousel</mat-icon></button>
      </ng-template>
    </div>


    <mat-menu #menu="matMenu">
      <button (click)="chooseViewpoint(viewpoint)" mat-menu-item *ngFor="let viewpoint of view[2]; first as isFirst">
        <span>{{ viewpoint.title }}</span>
      </button>
      <mat-divider *ngIf="view[2].length! > 0"></mat-divider>
      <button mat-menu-item (click)="createViewpoint(view[0]?.projectId!, view[2])">
        <mat-icon>add</mat-icon>
        <span>Create new Viewpoint</span>
      </button>
    </mat-menu>


    <mat-card class="card">
      <div *ngIf="viewpoint$ | async  as viewpoint; else ElseBlock2" class="card-internal-wrapper">
        <div [formGroup]="filterGroup" class="filter-group">
          <mat-form-field color="accent">
            <mat-label>Remote Project</mat-label>
            <mat-select formControlName="projectsControl">
              <mat-option *ngFor="let project of almProjects$ | async" [value]="project.projectId">{{ project.title
                }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field color="accent">
            <mat-label>Labels</mat-label>
            <mat-select (keyup.enter)="reloadIssues()" formControlName="labelsControl" multiple>
              <mat-option *ngFor="let label of labels$ | async" [value]="label"> {{ label }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field color="accent">
            <mat-label>State</mat-label>
            <mat-select (keyup.enter)="reloadIssues()" formControlName="stateControl">
              <mat-option value="opened">Opened</mat-option>
              <mat-option value="closed">Closed</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field color="accent">
            <mat-label>Created or Updated within</mat-label>
            <mat-date-range-input (keyup.enter)="reloadIssues()" [rangePicker]="picker">
              <input formControlName="startDateControl" matStartDate placeholder="Start date" />
              <input formControlName="endDateControl" matEndDate placeholder="End date" />
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          <mat-form-field color="accent">
            <mat-label>Title, Description</mat-label>
            <input (keyup.enter)="reloadIssues()" #search matInput placeholder="Title, Description includes..."
              formControlName="searchControl" />
          </mat-form-field>

          <div class="action-button">
            <button [disabled]="this.init" [matTooltipPosition]="'below'" matTooltip="Clear Filters"
              [matTooltipShowDelay]="2000" mat-mini-fab color="accent" (click)="clearFilters(true)">
              <mat-icon>highlight_off</mat-icon>
            </button>
            <p class="button-text">Clear</p>
          </div>
          <div class="action-button">
            <button [disabled]="this.init" [matTooltipPosition]="'below'" matTooltip="Reload Items"
              [matTooltipShowDelay]="2000" mat-mini-fab color="accent" (click)="this.reloadIssues()">
              <mat-icon>check_circle_outline</mat-icon>
            </button>
            <p class="button-text">Apply</p>
          </div>
        </div>
        <!-- <mat-spinner *ngIf="!(this.view$ | async)" class="progress-spinner">

        </mat-spinner> -->

        <div *ngIf=" activeRemoteProject$ | async" class="button-row">
          <button [disabled]="this.init" [matTooltipPosition]="'below'" matTooltip="Select all items on current page"
            [matTooltipShowDelay]="2000" mat-raised-button color="accent" (click)="markAllItems(true)">
            <mat-icon>select_all</mat-icon> Select All on Page
          </button>
          <button [disabled]="this.init" [matTooltipPosition]="'below'" matTooltip="Unselect all items on current page"
            [matTooltipShowDelay]="2000" mat-raised-button color="accent" style="margin-left: 10px"
            (click)="markAllItems(false)">
            <mat-icon>all_out</mat-icon> Unselect All on Page
          </button>
          <span class="spacer"></span>
          <mat-icon color="accent" *ngIf="
              selectedDeltaMinus !== undefined && selectedDeltaMinus.length === 0 && selectedDeltaPlus !== undefined && selectedDeltaPlus.length === 0
            " class="icon">cloud_done</mat-icon>
          <mat-icon color="warn" *ngIf="
              (selectedDeltaMinus !== undefined && selectedDeltaMinus.length !== 0) ||
              (selectedDeltaPlus !== undefined && selectedDeltaPlus.length !== 0)
            " class="icon">cloud_off</mat-icon>
          <button [disabled]="this.init" style="margin-right: 10px" [matTooltipPosition]="'below'"
            matTooltip="Save issue selection" [matTooltipShowDelay]="2000" mat-raised-button color="primary"
            (click)="saveSelection()">
            <mat-icon>save</mat-icon> Save
          </button>
          <button [disabled]="this.init || !this.showFirstLastButtons" [matTooltipPosition]="'below'"
            matTooltip="Save all currently filtered issues" [matTooltipShowDelay]="2000" mat-raised-button
            color="primary" (click)="selectAllAndSave()">
            <mat-icon>done_outline</mat-icon> Select All & Save
          </button>
        </div>

        <div class="list-wrapper">
          <div *ngIf="this.init && !(activeRemoteProject$ | async)" class="info-title">
            <h2>Please select a remote project</h2>
          </div>
          <mat-spinner *ngIf="(this._loading | async) && !this.init" class="progress-spinner"> </mat-spinner>
          <div *ngIf="!(this._loading | async) && !this.init" class="inner-list-wrapper">
            <div dense class="list">
              <div *ngIf="issues!.length === 0" class="info-title">
                <h2>No Issues to display for this filter</h2>
              </div>
              <div *ngFor="let issue of issues">
                <div class="list-item">
                  <div (click)="openIssueDetailDialog(issue)" class="title-span">
                    <span>{{ issue.title }}</span>
                  </div>
                  <div style="padding-right: 15px">
                    <mat-checkbox (change)="setSelected($event.checked, issue)"
                      [(ngModel)]="issue.selected"></mat-checkbox>
                  </div>
                </div>
              </div>
            </div>
            <mat-paginator color="accent" aria-label="Select page" (page)="handlePageEvent($event)"
              [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" [pageIndex]="pageIndex"
              [pageSize]="pageSize" [showFirstLastButtons]="showFirstLastButtons" [length]="length">
            </mat-paginator>
          </div>
        </div>
      </div>
      <ng-template #ElseBlock2>
        <div class = "viewpoint-selection-text">
          <h2>Please select a viewpoint</h2>
      </div>
      </ng-template>
    </mat-card>
  </div>
</div>

<ng-template #elseBlock class="main-wrapper">
  <div class="progress-spinner">
    <mat-spinner> </mat-spinner>
  </div>
</ng-template>
