.main-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: auto;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1900px;
  min-width: 1000px;
  align-self: stretch;
  flex: 1;
  height: 0;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.viewpoint-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px 0px 20px;
  margin-bottom: 0;
}

h3 {
  font-weight: 400;
  font-size: 1.1rem;
}

.viewpoint-button button {
  margin-left: 10px;
}

.issue-list {
  padding: 10px 10px 10px 10px;
  width: 100%;
  height: 90%;
  display: flex;
  overflow: auto;
}

.issue-tree {
  padding: 10px 10px 10px 10px;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.tree-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: auto;
}

.issue-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.row-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex: 1;
  height: 0;
  width: 100%;
}

.backlog {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.hierarchy {
  display: flex;
  flex-direction: column;
  width: 60%;
}

p {
  font-size: small;
}

.no-items {
  margin: auto auto;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  padding-left: 3px;
  padding-right: 3px;
}

.issue-list-item {
  padding-left: 3px;
  padding-right: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
}

.adding-box {
  display: flex;
  flex-direction: column;
  border: dashed #b0bec5;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.adding-box h3 {
  color: #b0bec5;
  margin: auto auto;
}

.adding-box-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
}

.cdk-drag-placeholder {
  display: none;
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  opacity: 0.3;
}

.drop-inside {
  border: 1px solid #b0bec5;
}

.drop-before {
  border-top: 1px solid #b0bec5;
}

.drop-after {
  border-bottom: 1px solid #b0bec5;
}

.node-title {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 48px;
}

.backlog-item {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.backlog-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.node-item {
  cursor: pointer;
}

.node-children {
  position: relative;
  transition: height 0.2s;
  margin-left: 40px;
}
.item-notes {
  margin-left: 20px;
  color: #aaa;
}

.spacer {
  flex: 1;
}
