<div class="main-wrapper" *ngIf="this.view$ | async as view">
  <div class="viewpoint-button">
    <h3>Viewpoint:</h3>
    <button *ngIf="viewpoint$ | async as viewpoint; else ElseBlock" mat-stroked-button class="second-line-button" [matMenuTriggerFor]="menu">
      {{ viewpoint.title }} <mat-icon>view_carousel</mat-icon>
    </button>
    <ng-template #ElseBlock>
      <button mat-button class="second-line-button" [matMenuTriggerFor]="menu">Select a Viewpoint <mat-icon>view_carousel</mat-icon></button>
    </ng-template>
    <span class="spacer"></span>
    <mat-icon color="accent" *ngIf="(loaded$ | async) && !treeLoading && !backlogLoading && !itemMoved" class="icon">cloud_done</mat-icon>
    <mat-icon color="warn" *ngIf="(loaded$ | async) && !treeLoading && !backlogLoading && itemMoved" class="icon">cloud_off</mat-icon>
    <button
      *ngIf=" (loaded$ | async) && !treeLoading && !backlogLoading"
      style="margin-right: 10px"
      [matTooltipPosition]="'below'"
      matTooltip="Save the current hierachy and order to the server"
      [matTooltipShowDelay]="2000"
      mat-raised-button
      color="primary"
      (click)="saveRelations()"
      [disabled]="!itemMoved">
      <mat-icon>save</mat-icon> Save Hierarchy
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button (click)="chooseViewpoint(viewpoint)" mat-menu-item *ngFor="let viewpoint of view[1]; first as isFirst">
      <span>{{ viewpoint.title }}</span>
    </button>
    <mat-divider *ngIf="view[1].length! > 0"></mat-divider>
    <button mat-menu-item (click)="createViewpoint(view[0]?.projectId!, view[1])">
      <mat-icon>add</mat-icon>
      <span>Create new Viewpoint</span>
    </button>
  </mat-menu>

  <div class="card-wrapper">
    <div class="row-wrapper" cdkDropListGroup>
      <div class="backlog">
        <div *ngIf="backlogLoading" class="issue-wrapper">
          <mat-spinner class="no-items"></mat-spinner>
        </div>
        <div *ngIf="(issuesBacklog$ | async) && !backlogLoading" class="issue-wrapper">
          <div class="backlog-header">
            <h2>Backlog</h2>
            <div [formGroup]="filterGroup" style="width: 50%">
              <mat-form-field style="width: 100%" subscriptSizing="dynamic" color="accent" appearance="outline">
                <mat-label>Filter</mat-label>
                <input #filter matInput placeholder="Filter Backlog Items..." formControlName="filterControl" />
              </mat-form-field>
            </div>
          </div>
          <mat-card class="issue-list">
            <div class="adding-box" *ngIf="filteredBacklog.length === 0" [attr.data-id]="'backlog'">
              <h3>No Items in the Backlog</h3>
            </div>
            <div cdkDropList [cdkDropListData]="backlog" [id]="'backlog'" (cdkDropListDropped)="drop($event)" [cdkDropListSortingDisabled]="true">
              <div
                cdkDrag
                *ngFor="let node of filteredBacklog"
                cdkDrag
                [cdkDragData]="node.id"
                (cdkDragMoved)="dragMoved($event)"
                class="issue-list-item">
                <div class="node-item backlog-item" [attr.data-id]="node.id" [attr.id]="'node-' + node.id">
                  <p>{{ node.issue.title }}</p>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="hierarchy">
        <div *ngIf="treeLoading" class="issue-wrapper">
          <mat-spinner class="no-items"></mat-spinner>
        </div>
        <div *ngIf="(issuesRelation$ | async) && !treeLoading" class="issue-wrapper">
          <h2>Hierarchy</h2>
          <mat-card class="issue-tree">
            <div *ngIf="treeData.length === 0" class="adding-box" [attr.data-id]="'main'">
              <h3>Drop First Item</h3>
            </div>
            <!-- Rendering for the tree -->
            <div cdkDropList [cdkDropListData]="treeData" [id]="'main'" (cdkDropListDropped)="drop($event)" [cdkDropListSortingDisabled]="true">
              <div *ngFor="let node of treeData" cdkDrag [cdkDragData]="node.id" (cdkDragMoved)="dragMoved($event)">
                <ng-container *ngTemplateOutlet="tmplNode; context: { node: node }"></ng-container>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Repeating template for the tree -->
<ng-template #tmplNode let-node="node">
  <div class="node-item" [attr.data-id]="node.id" [attr.id]="'node-' + node.id">
    <div class="node-title">
      <span *ngIf="node.children.length && !node.isExpanded" (click)="node.isExpanded = !node.isExpanded">
        <button mat-icon-button>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </span>
      <span *ngIf="node.children.length && node.isExpanded" (click)="node.isExpanded = !node.isExpanded">
        <button mat-icon-button>
          <mat-icon>chevron_left</mat-icon>
        </button>
      </span>
      <span *ngIf="!node.children.length" style="margin-left: 48px"> </span>

      {{ node.issue.title }}

      <span class="item-notes"> ({{ node.children.length }} {{ node.children.length === 1 ? 'Nested Item' : 'Nested Items' }})</span>
    </div>

    <div
      *ngIf="node.isExpanded && node.children.length"
      class="node-children"
      cdkDropList
      [cdkDropListData]="node.children"
      [id]="node.id"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListSortingDisabled]="true">
      <div *ngFor="let child of node.children" cdkDrag [cdkDragData]="child.id" (cdkDragMoved)="dragMoved($event)">
        <ng-container *ngTemplateOutlet="tmplNode; context: { node: child }"></ng-container>
      </div>
    </div>
  </div>
</ng-template>
