<div class="main-wrapper" *ngIf="this.view$ | async as view">
  <div class="viewpoint-button">
    <app-viewpoint-manager [viewpoints]="view[1]" [project]="view[0]"></app-viewpoint-manager>
  </div>

  <div class="card-wrapper">
    <div class="row-wrapper" cdkDropListGroup>
      <div class="backlog">
        <div *ngIf="backlogLoading" class="issue-wrapper">
          <mat-spinner class="no-items"></mat-spinner>
        </div>
        <div *ngIf="(issuesBacklog$ | async) && !backlogLoading" class="issue-wrapper">

          <mat-card class="issue-list">
            <div class="card-header">
              <mat-card-title>Backlog</mat-card-title>
              <div [formGroup]="filterGroup" style="width: 50%">
                <mat-form-field style="width: 100%" subscriptSizing="dynamic" color="accent" appearance="fill">
                  <mat-label><mat-icon class="icon">filter_list</mat-icon>Filter</mat-label>
                  <input #filter matInput placeholder="Filter Backlog Items..." formControlName="filterControl" />
                </mat-form-field>
              </div>
            </div>
            <mat-divider class="mat-divider-horicontal"></mat-divider>
            <div class="adding-box" *ngIf="filteredBacklog.length === 0" [attr.data-id]="'backlog'">
              <h3>No Items in the Backlog</h3>
            </div>
            <div class = "issue-drop-list" cdkDropList [cdkDropListData]="backlog" [id]="'backlog'" (cdkDropListDropped)="drop($event)"
              [cdkDropListSortingDisabled]="true">
              <div cdkDrag *ngFor="let node of filteredBacklog" cdkDrag [cdkDragData]="node.id" (click)="openIssueDetailDialog(node, false)"
                (cdkDragMoved)="dragMoved($event)" class="issue-list-item">
                <div class="node-item backlog-item" [attr.data-id]="node.id" [attr.id]="'node-' + node.id">
                  <p>{{ node.issue.title }}</p>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="hierarchy">
        <div *ngIf="treeLoading" class="issue-wrapper">
          <mat-spinner class="no-items"></mat-spinner>
        </div>
        <div *ngIf="(issuesRelation$ | async) && !treeLoading" class="issue-wrapper">
          <mat-card class="issue-tree">
            <div class="card-header">
              <mat-card-title>Hierarchy</mat-card-title>

              <span class="spacer"></span>

              <mat-icon color="accent" *ngIf="!treeLoading && !backlogLoading && !itemMoved"
                class="icon" style = "margin-right: 0;">cloud_done</mat-icon>
              <mat-icon color="warn" *ngIf="!treeLoading && !backlogLoading && itemMoved"
                class="icon" style = "margin-right: 0;">cloud_off</mat-icon>
              <mat-divider class="mat-divider-vertical" [vertical]="true"></mat-divider>
              <button *ngIf="!treeLoading && !backlogLoading" [matTooltipPosition]="'below'"
                matTooltip="Save the current hierachy and order to the server" [matTooltipShowDelay]="2000"
                mat-raised-button color="primary" (click)="saveRelations()" [disabled]="!itemMoved">
                <mat-icon>save</mat-icon> Save Hierarchy
              </button>
              <mat-divider class="mat-divider-vertical" [vertical]="true"></mat-divider>
              <button *ngIf="!treeLoading && !backlogLoading" [matTooltipPosition]="'below'"
                matTooltip="Auto-detect hierarchies" [matTooltipShowDelay]="2000" mat-raised-button color="primary"
                (click)="getAutomaticRelations()">
                <mat-icon>device_hub</mat-icon> Detect Hierarchies
              </button>
              <mat-divider class="mat-divider-vertical" [vertical]="true"></mat-divider>
              <button *ngIf="!treeLoading && !backlogLoading" [matTooltipPosition]="'below'"
                matTooltip="Evaluate the tree for any planning inconsistencies. Last evaluation: {{(this.viewpoint$ | async)?.lastEvaluated | date:'short'}}" [matTooltipShowDelay]="2000"
                mat-raised-button color="primary" (click)="evaluateTree(treeData)">
                <mat-icon>loop</mat-icon> Evaluate Tree
              </button>

            </div>
            <mat-divider class="mat-divider-horicontal"></mat-divider>
            <div *ngIf="treeData.length === 0" class="adding-box" [attr.data-id]="'main'">
              <h3>Drop First Item</h3>
            </div>
            <!-- Rendering for the tree -->
            <div class="tree-drop-list" cdkDropList [cdkDropListData]="treeData" [id]="'main'" (cdkDropListDropped)="drop($event)"
              [cdkDropListSortingDisabled]="true">
              <div *ngFor="let node of treeData" cdkDrag [cdkDragData]="node.id" (cdkDragMoved)="dragMoved($event)">
                <ng-container *ngTemplateOutlet="tmplNode; context: { node: node }"></ng-container>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Repeating template for the tree -->
<ng-template #tmplNode let-node="node">
  <div class="node-item" [attr.data-id]="node.id" [attr.id]="'node-' + node.id">
    <div class="node-title">
      <span *ngIf="node.children.length && !node.isExpanded" (click)="node.isExpanded = !node.isExpanded">
        <button mat-icon-button>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </span>
      <span *ngIf="node.children.length && node.isExpanded" (click)="node.isExpanded = !node.isExpanded">
        <button mat-icon-button>
          <mat-icon>chevron_left</mat-icon>
        </button>
      </span>
      <span *ngIf="!node.children.length" style="margin-left: 24px"> </span>
      <div class="tree-issue-title">
        <div class="tree-issue-title-nesting" (click)="openIssueDetailDialog(node, true)">
          {{ node.issue.title }}
          <span class="item-notes"> {{ node.children.length }} {{ node.children.length === 1 ? 'Nested Item' : 'Nested
            Items' }} | {{node.issue.state}} </span>
        </div>

        <div class="indicator-bar">
          <p>Progress:</p>
          <mat-icon  [matTooltipPosition]="'below'" matTooltip="Work is in progress on this item"
          [matTooltipShowDelay]="2000" *ngIf="node.issue.state==='opened' && node.issue.timeStats.spentHours !== 0" color="accent" class="icon-row">timeline</mat-icon>
          <mat-icon [matTooltipPosition]="'below'" matTooltip="Work has not started yet on this item"
          [matTooltipShowDelay]="2000" *ngIf="node.issue.state==='opened' && node.issue.timeStats.spentHours === 0" color="accent"  class = "icon-row">highlight_off</mat-icon>
          <mat-icon [matTooltipPosition]="'below'" matTooltip="Item is finished"
          [matTooltipShowDelay]="2000" *ngIf="node.issue.state==='closed'" color="accent" class = "icon-row">check_circle_outline</mat-icon>
          <p>Overall:</p>
          <div *ngIf="node.kpiErrors.length > 0 && errorsContainErrorType(node.kpiErrors, 2)" class="traffic-light-red"></div>
          <div *ngIf="node.kpiErrors.length > 0 && errorsContainErrorType(node.kpiErrors, 1) && !errorsContainErrorType(node.kpiErrors, 2)" class="traffic-light-yellow"></div>
          <div *ngIf="node.kpiErrors.length===0" class="traffic-light-green"></div>
        </div>

      </div>

    </div>

    <div *ngIf="node.isExpanded && node.children.length" class="node-children" cdkDropList
      [cdkDropListData]="node.children" [id]="node.id" (cdkDropListDropped)="drop($event)"
      [cdkDropListSortingDisabled]="true">
      <div *ngFor="let child of node.children" cdkDrag [cdkDragData]="child.id" (cdkDragMoved)="dragMoved($event)">
        <ng-container *ngTemplateOutlet="tmplNode; context: { node: child }"></ng-container>
      </div>
    </div>
  </div>
</ng-template>
