<h1 cdkFocusRegionStart mat-dialog-title>{{ issue.title }}</h1>

<mat-dialog-content class="mat-typography">

  <button mat-flat-button color="primary" [autofocus]="false"> {{ issue.type }} </button>
  <button style = "margin-left: 10px" mat-flat-button color="primary"> {{ issue.state }} </button>


  <p>Issue last modified at: {{ issue.updatedAt | date : "short" }}</p>
  <!-- rethink this again in terms of security .... -->
  <markdown [data]="description"></markdown>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="primary" mat-raised-button (keydown)="onKeydownEvent($event)" (click) = "close(true)">Select & Close</button>
  <button color="primary" mat-raised-button (keydown)="onKeydownEvent($event)" mat-dialog-close (click) = "close(false)">Close</button>
</mat-dialog-actions>
