<h1 cdkFocusRegionStart mat-dialog-title>{{ issue.title }}</h1>

<mat-dialog-content class="mat-typography">

  <button mat-flat-button color="primary" [autofocus]="false"> {{ issue.issue_type }} </button>
  <button style = "margin-left: 10px" mat-flat-button color="primary"> {{ issue.state }} </button>


  <p>Issue last modified at: {{ issue.updated_at | date : "short" }}</p>

  <p [innerHTML]="issue.description | markdown"></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="primary" mat-raised-button (click) = "close(true)">Select & Close</button>
  <button color="primary" mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
