<div style = "flex: 1 1 auto;">
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   <p>list view works</p> 
   
</div>

