<div class="main-wrapper">
  <mat-toolbar color="accent" class="toolbar">
    <mat-toolbar-row>
      <h2 class="project-title-span">{{ (_project | async)?.title }}</h2>

      <button routerLinkActive="active-view" mat-button class="second-line-button" [routerLink]="['overview']">
        Overview
      </button>
      <button routerLinkActive="active-view"  mat-button class="second-line-button" [routerLink]="['config']">
        Project Settings
      </button>
      <button *ngIf="currentViewpoint !== undefined" routerLinkActive="active-view"  mat-button class="second-line-button" [routerLink]="['viewpoint/', currentViewpoint.viewpointId]">
        Item Views
      </button>


      <!-- <button [ngClass]="{ 'active-view': (_activeView | async) === 'list' }" mat-button class="second-line-button" [routerLink]="['list']">
        <span>List View</span>
      </button>
      <button [ngClass]="{ 'active-view': (_activeView | async) === 'tree' }" mat-button class="second-line-button" [routerLink]="['tree']">
        <span>Tree View</span>
      </button> -->

      <span class = "spacer"></span>

      <button mat-button class="second-line-button" [matMenuTriggerFor]="menu">
        {{ (_activeViewpointTitle | async) }} <mat-icon>view_carousel</mat-icon>
       </button>

      <mat-menu #menu="matMenu">
        <button (click)="chooseViewpoint(viewpoint)" mat-menu-item *ngFor="let viewpoint of (_viewpoints | async); first as isFirst">
          <span>{{viewpoint.title}}</span>
        </button>
        <mat-divider *ngIf = "(_viewpoints | async)?.length! > 0"></mat-divider>
        <button mat-menu-item (click)="createViewpoint()">
          <mat-icon>add</mat-icon>
          <span>Create new Viewpoint</span>
        </button>
      </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>

  <div class="main-content">
    <router-outlet> </router-outlet>
  </div>
</div>
