<div class="main-wrapper" *ngIf="(project$ | async) as project; else elseBlock">
  <mat-toolbar color="accent" class="toolbar" >
    <mat-toolbar-row>
      <h2 class="project-title-span">{{project.title}}</h2>

      <button routerLinkActive="active-view" mat-button class="second-line-button" [routerLink]="['overview']">
        Overview
      </button>
      <button routerLinkActive="active-view"  mat-button class="second-line-button" [routerLink]="['config']">
        Project Settings
      </button>
      <button *ngIf="activeViewpoint$ | async as currentViewpoint" routerLinkActive="active-view"  mat-button class="second-line-button" [routerLink]="['viewpoint/', currentViewpoint.viewpointId]">
        Viewpoints
      </button>

      <!-- <span class = "spacer"></span>

      <button *ngIf="(activeViewpoint$ | async) as viewpoint; else ElseBlock"  mat-button class="second-line-button" [matMenuTriggerFor]="menu">
        {{ viewpoint.title  }} <mat-icon>view_carousel</mat-icon>
       </button>
       <ng-template #ElseBlock>
        <button  mat-button class="second-line-button" [matMenuTriggerFor]="menu">
        Select a Viewpoint <mat-icon>view_carousel</mat-icon>
       </button>
      </ng-template>


      <mat-menu #menu="matMenu">
        <button (click)="chooseViewpoint(viewpoint)" mat-menu-item *ngFor="let viewpoint of (viewpoints$ | async); first as isFirst">
          <span>{{viewpoint.title}}</span>
        </button>
        <mat-divider *ngIf = "(viewpoints$ | async)?.length! > 0"></mat-divider>
        <button mat-menu-item (click)="createViewpoint()">
          <mat-icon>add</mat-icon>
          <span>Create new Viewpoint</span>
        </button>
      </mat-menu> -->

    </mat-toolbar-row>
  </mat-toolbar>

  <div class="main-content">
    <router-outlet> </router-outlet>
  </div>
</div>

<ng-template #elseBlock class="main-wrapper">
  <div class="progress-spinner">
    <mat-spinner> </mat-spinner>
  </div>
</ng-template>
