.main-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.project-title-span {
  padding: 5px 20px 5px 20px;
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid;
  border-radius: 5px;
}

.second-line-button {
  margin-left: 20px;
}

.main-content {
  margin-top: 64px;
  width: 100%;
  overflow: hidden;
  flex: 1 1 auto;
}

.toolbar {
  position: fixed;
  z-index: 9999;
}

.active-view {
  font-weight: bolder;
  font-size: 0.9rem;
  border: 1px solid;
}

.spacer {
  flex: 1 1 auto;
}

