<div class="main-wrapper" *ngIf="this.view$ | async as view">
  <div class="viewpoint-selection">
    <app-viewpoint-manager [viewpoints]="view[1]" [project]="view[0]"></app-viewpoint-manager>

    <div *ngIf="subview$ | async as subview">
      <mat-card style="margin-top: 0">
        <h1 matCardTitle>Viewpoint Details</h1>
        <mat-divider></mat-divider>
        <form [formGroup]="viewpointDetails">
          <div>
            <mat-form-field color="accent" hintLabel="Max 25 Characters " appearance="outline">
              <mat-label>Title</mat-label>
              <input #title matInput placeholder="Name of the viewpoint" formControlName="nameCtrl" maxlength="25" required />
              <mat-error *ngIf="viewpointDetails.controls['nameCtrl'].hasError('required')"> Title is mandatory </mat-error>
              <mat-hint align="end">{{ title.value.length }}/25</mat-hint>
            </mat-form-field>
          </div>
        </form>
        <div>
          <button
            [disabled]="!viewpointDetails.valid"
            class="margin-top"
            mat-raised-button
            color="primary"
            (click)="updateViewpoint(view[0]!.projectId, subview[0]!, view[1])">
            Save
          </button>
        </div>
      </mat-card>

      <mat-card style="margin-bottom: 50px">
        <h1 matCardTitle>Labels for Automatic Hierarchy Detection</h1>
        <mat-divider></mat-divider>
        <form [formGroup]="hierachieDetection">
          <div>
            <mat-form-field color="accent" hintLabel="Max 255 Characters " appearance="outline">
              <mat-label>First Level Label</mat-label>
              <input #first matInput placeholder="Epic Label..." formControlName="first" maxlength="255"/>
              <mat-hint align="end">{{ first.value.length }}/255</mat-hint>
            </mat-form-field>
            <mat-form-field color="accent" hintLabel="Max 255 Characters " appearance="outline">
              <mat-label>Second Level Label</mat-label>
              <input #second matInput placeholder="Feature Label..." formControlName="second" maxlength="255"/>
              <mat-hint align="end">{{ second.value.length }}/255</mat-hint>
            </mat-form-field>
            <mat-form-field color="accent" hintLabel="Max 255 Characters " appearance="outline">
              <mat-label>Third Level Label</mat-label>
              <input #third matInput placeholder="Story Label..." formControlName="third" maxlength="255"/>
              <mat-hint align="end">{{ third.value.length }}/255</mat-hint>
            </mat-form-field>
          </div>
        </form>
        <div>
          <button
            [disabled]="!viewpointDetails.valid"
            class="margin-top"
            mat-raised-button
            color="primary"
            (click)="updateHierarchySettings(subview[0]!.viewpointId!, view[0]!.projectId)">
            Save
          </button>
        </div>
      </mat-card>

      <mat-card style="margin-bottom: 50px">
        <h1 matCardTitle>Danger Zone</h1>
        <mat-divider></mat-divider>
        <div>
          <button class="margin-top" mat-raised-button color="warn" (click)="deleteViewpoint(subview[0]!, view[1])">Delete Viewpoint</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
