.spacer {
    flex: 1 1 auto;
}


.project-header {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}


.listitem {
    font-size: 0.9rem;
    cursor: pointer;
}

.listicon {
    font-size: 1.5rem;
}

