<div class="project-header">
  <h2 cdkFocusRegionStart>My Projects</h2>
  <span class="spacer"></span>
  <button
    mat-fab
    color="primary"
    matTooltip="Create a new project"
    [matTooltipShowDelay]="2000"
    (click)="navigate('project/create')"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-list>
  <mat-list-item *ngFor="let project of projects">
    <mat-icon
      [matMenuTriggerFor]="menu"
      class="listicon"
      matListItemIcon
      [matTooltipPosition]="'below'"
      matTooltip="Project menu"
      [matTooltipShowDelay]="2000"
      >folder</mat-icon
    >

    <mat-menu #menu="matMenu">
      <button
        *ngIf="!project.favourite"
        mat-menu-item
        (click)="toggleFavourite(project.uid, true)"
      >
        <mat-icon>favorite</mat-icon>
        <span>Add to favourites</span>
      </button>
      <button
        *ngIf="project.favourite"
        mat-menu-item
        (click)="toggleFavourite(project.uid, false)"
      >
        <mat-icon>favorite</mat-icon>
        <span>Remove from favourites</span>
      </button>
      <button mat-menu-item (click)="deleteProject(project)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
    <div matListItemTitle>
      <span
        (click)="navigate('project/view/' + project.uid)"
        class="listitem"
        [matTooltipPosition]="'below'"
        matTooltip="{{ project.name }}"
        [matTooltipShowDelay]="2000"
        >{{ project.name }}</span
      >
    </div>
  </mat-list-item>
</mat-list>
