.main-wrapper {
  display: flex;
  width: 60%;
  height: 95%;
  flex-direction: column;
  margin: 0 auto
}

.mat-step-div {
    padding-top: 3%;
 }

 mat-horizontal-stepper {
  padding: 2.5rem;
 }

 mat-slide-toggle {
  margin: 8px 0;
 }

.form {
  min-width: 600px;
  max-width: 1000px;
  width: 100%;
}

.form-field {
  width: 100%;
}

.form-field-disabled {
  width: 70%;
}

.right-button {
  margin-left: 10px
}

.disabled-list {
  margin-top: 20px
}

.slide-toggle {
  float: right;
}


.stepper {
  overflow: auto;
  border-radius: 5px;
}

h3 {
  font-weight: 300;
}


