<div class="main-wrapper">
  <h2>Create new project</h2>
  <mat-horizontal-stepper [linear]="true" #stepper labelPosition="bottom" class="stepper">
    <mat-step [stepControl]="firstFormGroup" label="Project title">
      <div class="mat-step-div">
        <form [formGroup]="firstFormGroup">
          <div>
            <mat-form-field hintLabel="Max 100 Characters " appearance="outline" class="form-field">
              <mat-label>Title</mat-label>
              <input #title matInput placeholder="Name of the project" formControlName="nameCtrl" maxlength="100" required />
              <mat-error *ngIf="firstFormGroup.controls['nameCtrl'].hasError('required')"> Title is mandatory </mat-error>
              <mat-hint align="end">{{ title.value.length }}/100</mat-hint>
            </mat-form-field>
          </div>
          <br />
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </form>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Project description">
      <div class="mat-step-div">
        <form [formGroup]="secondFormGroup">
          <div>
            <mat-form-field appearance="outline" class="form-field" hintLabel="Max 2000 Characters">
              <mat-label>Description</mat-label>
              <textarea
                #descr
                placeholder="Describe the project"
                matInput
                cdkTextareaAutosize
                formControlName="descrCtrl"
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="7"
                maxlength="2000"
                required></textarea>
              <mat-error *ngIf="secondFormGroup.controls['descrCtrl'].hasError('required')"> Description is mandatory </mat-error>
              <mat-hint align="end">{{ descr.value.length }}/2000</mat-hint>
            </mat-form-field>
          </div>
          <br />
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext class="right-button">Next</button>
        </form>
      </div>
    </mat-step>

    <mat-step label="ALM instances">
      <div class="stepper-action">
        <div class="mat-step-div">
          <p>
            In the current state of the application only GitLab ALM Instances are supported. Use the numeric project ID to identify the project. Moreover, provide an
            access token in case where access to the project is not public. Upon adding a value, the system will check access to the project and in
            case of error not add the remote connection.
          </p>
          <p *ngIf="ALMInstances.length === 0">There has to be at least one remote project connected to this local project!</p>
          <form [formGroup]="thirdFormGroup">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>ALM Remote Project ID</mat-label>
              <input #remoteID matInput type="number" placeholder="ALM Project Remote ID" formControlName="remoteID" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Access Token</mat-label>
              <input #accessToken matInput [type]="hide ? 'password' : 'text'" placeholder="Access Token" formControlName="accessToken" />
            </mat-form-field>
          </form>
          <button [disabled]="!thirdFormGroup.valid" mat-stroked-button (click)="addToALMMap()">Add Remote Project</button>
          <mat-slide-toggle class="slide-toggle" color="primary" [(ngModel)]="hide">Hide Access Tokens</mat-slide-toggle>
        </div>

        <div class="disabled-list" *ngFor="let entry of ALMInstances">
          <mat-form-field appearance="outline" class="form-field-disabled">
            <mat-label>Remote Project ID</mat-label>
            <input matInput disabled="true" value="{{ entry.remoteProjectId }}" />
            <mat-icon matSuffix style="cursor: pointer" color="warn" (click)="removeFromALMMap(entry.remoteProjectId)">delete</mat-icon>
          </mat-form-field>
          <mat-form-field *ngIf ="entry.accessToken !== ''" appearance="outline" class="form-field-disabled">
            <mat-label>Access Token</mat-label>
            <input #accessToken matInput [type]="hide ? 'password' : 'text'" disabled="true" value="{{ entry.accessToken }}" />
          </mat-form-field>
        </div>
        <br />
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button [disabled]="ALMInstances.length === 0" mat-raised-button color="primary" (click)="saveProject()" class="right-button">Save</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
