.project-title-span {
  padding: 5px 20px 5px 20px;
  font-size: 0.9rem;

}

.second-line-button {
  margin-left: 10px;
}

.main-content {
  padding-top: 60px;
  width: 100%;
  flex: 1 1 auto;
}

.toolbar {
  position: fixed;
}

.active-view {
  font-size: 2rem;
}
