<div class="main-wrapper">
  <h2 *ngIf="!editMode">Create new project</h2>
  <h2 *ngIf="editMode">Edit project</h2>
  <mat-horizontal-stepper [linear]="true" #stepper labelPosition="bottom">
    <mat-step [stepControl]="firstFormGroup" label="Project title">
      <div class="mat-step-div">
        <form [formGroup]="firstFormGroup">
          <div>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Title</mat-label>
              <input
                matInput
                placeholder="Name of the project"
                formControlName="nameCtrl"
                required
              />
              <mat-error
                *ngIf="firstFormGroup.controls['nameCtrl'].hasError('required')"
              >
                Title is mandatory
              </mat-error>
            </mat-form-field>
          </div>
          <br />
          <button mat-button matStepperNext>Next</button>
        </form>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Project description">
      <div class="mat-step-div">
        <form [formGroup]="secondFormGroup">
          <div>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Description</mat-label>
              <textarea
                placeholder="Describe the project"
                matInput
                cdkTextareaAutosize
                formControlName="descrCtrl"
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="7"
                required
              ></textarea>
              <mat-error
                *ngIf="
                  secondFormGroup.controls['descrCtrl'].hasError('required')
                "
              >
                Description is mandatory
              </mat-error>
            </mat-form-field>
          </div>
          <br />
          <button mat-button matStepperNext>Next</button>
          <button mat-button matStepperPrevious>Back</button>
        </form>
      </div>
    </mat-step>

    <mat-step label="Gitlab instances">
      <div class="stepper-action">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Complete">
      <div class="stepper-action">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="saveProject()">Save</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
