.router {
    height: 100%;
}

mat-drawer {
    padding: 25px;
    width: 600px;
}


.main-content {
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    flex: 1 1 auto;
    
    
}

.main-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.toolbar {
    position: fixed;
    justify-content: space-between;
}

.spacer {
    flex: 1 1 auto;
}

.title-span {
    cursor: pointer;
}

