.router {
    height: 100%;
}

mat-drawer {
    padding: 25px;
    width: 600px;
}


.main-content {
    padding-top: 64px;
    width: 100%;
    overflow: hidden;
    flex: 1 1 auto;
}

.main-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.project-title {
    display: flex;
    align-items: center;
    flex-direction: row;
}



.toolbar {
    position: fixed;
    z-index: 9999;
}

.spacer {
    flex: 1 1 auto;
}

.title-span {
    cursor: pointer;
}

.menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px 10px 30px;
}

.avatar {
  display: flex;
  border-radius: 50%;
  margin: 0 auto;
}

.email {
  display: flex;
  font-size: 0.7rem;
  font-weight: 300;
  padding-top: 7px;
}

.jku-image {
  height: 80px;
  margin-right: 30px;
  cursor: pointer;
}
