<!-- <div class="main-wrapper">
  <div class="card-wrapper">
    <mat-card class="card">
      <div class="card-internal-wrapper">
        <div [formGroup]="filterGroup" class = "filter-group">
          <mat-form-field color="accent">
            <mat-label>Remote Project</mat-label>
            <mat-select formControlName="projectsControl">
              <mat-option *ngFor="let project of remoteProjects" [value]="project.id">{{
                project.name
                }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field color="accent">
            <mat-label>Labels</mat-label>
            <mat-select formControlName="labelsControl" multiple>
              <mat-option *ngFor="let label of labels" [value]="label">
                {{ label }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field color="accent">
            <mat-label>State</mat-label>
            <mat-select formControlName="stateControl">
              <mat-option value = "opened">Opened</mat-option>
              <mat-option value = "closed">Closed</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field color="accent">
            <mat-label>Created or Updated within</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input formControlName="startDateControl" matStartDate placeholder="Start date">
              <input formControlName="endDateControl" matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          <mat-form-field color="accent">
            <mat-label>Title, Description</mat-label>
            <input #search matInput placeholder="Title, Description includes..." formControlName="searchControl" />
          </mat-form-field>
          <button [disabled]="this.init" [matTooltipPosition]="'below'" matTooltip="Clear Filters"
            [matTooltipShowDelay]="2000"  mat-mini-fab color="accent" (click) = "clearFilters()"><mat-icon>highlight_off</mat-icon></button>
          <button [disabled]="this.init" [matTooltipPosition]="'below'" matTooltip="Reload Items"
            [matTooltipShowDelay]="2000"  mat-mini-fab color="accent" (click) = "getIssues()"><mat-icon>get_app</mat-icon></button>
        </div>

        <div>
          <button [disabled]="this.init" [matTooltipPosition]="'below'" matTooltip="Select all items on current page"
            [matTooltipShowDelay]="2000" mat-raised-button color="accent" (click)="markAllItems(true)">
            <mat-icon>select_all</mat-icon> Select
            All on Page</button>
          <button [disabled]="this.init" [matTooltipPosition]="'below'" matTooltip="Unselect all items on current page"
            [matTooltipShowDelay]="2000" mat-raised-button color="accent" style="margin-left: 10px"
            (click)="markAllItems(false)"><mat-icon>all_out</mat-icon> Unselect All on Page</button>
          <div class="btn">
            <button [disabled]="this.init" style = "margin-right: 10px" [matTooltipPosition]="'below'" matTooltip="Save issue selection"
            [matTooltipShowDelay]="2000"  mat-raised-button color="primary"
            (click)="saveSelection()"><mat-icon>save</mat-icon> Save </button>
            <button [disabled]="this.init || !this.showFirstLastButtons" [matTooltipPosition]="'below'" matTooltip="Save all currently filtered issues"
            [matTooltipShowDelay]="2000"   mat-raised-button color="primary"
            (click)="saveSelection()"><mat-icon>done_outline</mat-icon> Select All & Save</button>
          </div>
        </div>

        <div class="list-wrapper">
          <div *ngIf="this.init" class="info-title">
            <h2>Select a Remote Project</h2>
          </div>
          <mat-spinner *ngIf="this.loading && !this.init" class="progress-spinner">
          </mat-spinner>
          <div *ngIf="!this.loading && !this.init" class = "inner-list-wrapper">
            <div dense class="list">
              <div *ngFor="let issue of issues">
                <div class="list-item">
                  <div (click)="openIssueDetailDialog(issue)" class="title-span"> <span>{{ issue.title }}</span></div>
                  <div style = "padding-right: 15px"> <mat-checkbox (change)="setSelected($event.checked, issue)" [(ngModel)]="issue.selected"></mat-checkbox></div>
                </div>
              </div>
            </div>
            <mat-paginator
              color = "accent"
              aria-label="Select page"
              (page)="handlePageEvent($event)"
              [pageSizeOptions]="pageSizeOptions"
              [showFirstLastButtons] = true
              [pageIndex]="pageIndex"
              [pageSize]="pageSize"
              [showFirstLastButtons]="showFirstLastButtons"
              [length]="length"
              >
            </mat-paginator>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div> -->
