<div class="project-header">
  <h2>Meine Projekte</h2>
  <span class="spacer"></span>
  <button mat-fab color="primary" matTooltip="Neues Projekt erstellen" (click)="navigate('')">
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-list>
    <mat-list-item *ngFor="let project of projects">
        <mat-icon class = "listicon" matListItemIcon>edit</mat-icon>
        <div matListItemTitle><span  class = "listitem" [matTooltipPosition]="'below'" matTooltip="{{project}}">{{project}}</span></div>
    </mat-list-item>
</mat-list>
