<div class="main-wrapper" *ngIf="this.view$ | async as view; else elseBlock">
  <div class="sidenav">
    <mat-card class="drawer">
      <p>Viewpoint Menu</p>
      <div routerLinkActive="active" class="menu-item" [routerLink]="['list']">
        <mat-icon class="icon">list</mat-icon>
        <span>List</span>
      </div>
      <mat-divider></mat-divider>
      <div routerLinkActive="active" class="menu-item" [routerLink]="['tree']">
        <mat-icon class="icon">filter_list</mat-icon>
        <span>Hierarchy</span>
      </div>
      <mat-divider></mat-divider>
      <span class="spacer"></span>
      <mat-divider></mat-divider>
      <div routerLinkActive="active" class="menu-item" [routerLink]="['options']">
        <mat-icon class="icon">settings</mat-icon>
        <span>Viewpoint</span>
        <span>Settings</span>
      </div>
    </mat-card>
  </div>

  <div class="main-wrapper">
    <div class="content">
      <div class="main-content">
        <router-outlet> </router-outlet>
      </div>
    </div>
  </div>
</div>

<ng-template #elseBlock class="main-wrapper">
  <div class="progress-spinner">
    <mat-spinner> </mat-spinner>
  </div>
</ng-template>
