/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.red-snackbar {
    --mdc-snackbar-container-color: rgb(153, 50, 50);
    --mdc-snackbar-label-ink-color: lightgoldenrodyellow;
}

.green-snackbar {
    --mdc-snackbar-container-color: rgb(29, 102, 29);
    color: lightgreen;
}
