/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.red-snackbar {
    --mdc-snackbar-container-color: #993232 !important;
    --mdc-snackbar-supporting-text-color: lightgoldenrodyellow !important;
}

.green-snackbar {
    --mdc-snackbar-container-color: rgb(29, 102, 29) !important;
    --mdc-snackbar-supporting-text-color: lightgreen !important;
}
